<?xml version="1.0"?>
<model>
  <name>urd_robot_cuadrupedo_v1</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Gazebo User</name>
    <email>none</email>
  </author>
  <description>
    Hyperdog quadruped robot desde solidworks
  </description>
</model>
