<?xml version="1.0"?>
<model>
  <name>urd_robot_cuadrupedo_v5</name>
  <version>1.0</version>
  <sdf version="1.7">urd_robot_cuadrupedo_v5.urdf</sdf>
  <author>
    <name>Gustavo</name>
    <email>none</email>
  </author>
  <description>
    Cuadrupedo exportado desde SolidWorks
  </description>
</model>
